/* DISEÑOS AL PROGRAMA GENERALES */

body {
    font-family: "Times New Roman", Times, serif !important;
    background-color: rgb(255, 255, 255) !important;
}


/* CONTENIDO PRINCIPAL */

main {
    background-color: #e0e0e0;
    /* Color de fondo gris claro */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}