/* DISEÑOS AL PROGRAMA GENERALES */
body {
  font-family: "Times New Roman", Times, serif !important;
  background-color: white !important;
}

.barra {
  height: 30px;
}

.ronda1 {
    position:absolute;
    top:250px;
}