/* DISEÑOS AL PROGRAMA GENERALES */
body {
    font-family: "Times New Roman", Times, serif !important;
    background-color: rgb(255, 255, 255) !important;
}

/* CONTENIDO PRINCIPAL */
.menu {
    background-color: #e0e0e0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
}

.Sesion {
    padding-top: 20px;
    padding-bottom: 30px;
}