/* General */

body {
    font-family: "Arial", sans-serif !important;
    background-color: #f8f9fa;
}

main {
    background-color: #e9ecef;
    padding: 20px 0;
}


/* Notificaciones */

.notas {
    font-size: 16px;
    line-height: 1.5;
}


/* Imagen del Usuario */

.imagenUser img {
    max-width: 150px;
    height: 150px;
    border: 3px solid #007bff;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


/* Información Escolar y Personal */

.info-escolar,
.info-personal {
    border: 1px solid #ddd;
    background: #fdfdfd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* Espaciado entre las columnas */

.info-escolar {
    margin-right: 15px;
    /* Añade un espacio entre info-escolar y info-personal */
}

.row.align-items-start>div {
    margin-bottom: 15px;
    /* Por si el diseño necesita espacios verticales */
}

.info-escolar h2,
.info-personal h2 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #007bff;
    color: #007bff;
}

.info-escolar ul,
.info-personal ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.info-escolar li,
.info-personal li {
    margin-bottom: 8px;
    line-height: 1.5;
}

.info-escolar strong,
.info-personal strong {
    color: #333;
    font-weight: 600;
}