/* DISEÑOS AL PROGRAMA GENERALES */
body{
font-family:"Times New Roman",Times,serif !important;
background-color:rgb(252, 252, 252) !important;
}

/* CONTENIDO PRINCIPAL */
main{
    background-color: #e0e0e0; /* Color de fondo gris claro */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.Contenido {
    padding: 50px;
}
.Eventos {
    border:solid;
    border-color: black;
}
#compasImagen {
    width: 19pc;
    height: 20pc;
}

.tituloEvento {
    padding-top: 20px;
    padding-bottom: 50px;
}

/*TENER CUIDADO CON LA ADAPTACION DE LA PANTALLA*/
