<!DOCTYPE html>
<html>
{% extends 'base.html' %} {% block content %}

<head>
    <title>Registro</title>
    <!-- Incluye el CSS de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/Login/loginStyle.css">
</head>

<body>
    <div class="container">
        <h2>Restablecer Contraseña</h2>
        <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Actualizar Contraseña</button>
        </form>

    </div>
    <!-- Incluye el JS de Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}

</html>