<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %} {% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Inicio/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <!--Inicio del contenido principal central-->
    <!--CENTRAR EL CONTAINER DE INFORMACION-->

    <!-- Habra multiples eventos y el usuario 
kevin@kevin-S500CA:~/Desktop/Prueba$ 
 *  History restored podra alternar y observar cada uno -->
    <main>
        <article class="Contenido container">
            <section>
                <div>
                    <h1>Bienvenido a Certificaciones ITT</h1>
                    <h5>En esta pagina podrás ingresar para realizar tu proceso de titulación por parte del alumno, mediante un inicio de sesión, con una cuenta personal para recibir correos, ingresará con número de control y es probable que el sistema pida
                        una clave que contenga letras y números.</h5><br>
                </div>
            </section>

            <section class="Eventos ">
                <div class="Fila row ">
                    <div class="imagenEvento col-3">
                        <img id="compasImagen" src="/static/Images/Compas.png" alt="">
                    </div>
                    <div class="tituloEvento col-8 row">
                        <div>
                            <a href="https://www.tijuana.tecnm.mx/alumnos-de-ingenieria-en-sistemas-ganan-primer-lugar-en-concurso/" target="_blank">
                                <h5 class="text-center border">Alumnos de Ingeniería en Sistemas ganan Primer Lugar en concurso
                                </h5>
                            </a>
                        </div>

                        <h5 class="">Con el propósito de fomentar la innovación, la colaboración y el aprendizaje en el campo de la tecnología blockchain, del 20 al 23 de septiembre se llevó a cabo el concurso Criptoméxico Tijuana, teniendo como sedes el Museo del
                            Trompo Tijuana y el Estadio Caliente. Fueron tres días de intensa actividad y preparación de proyectos innovadores y disruptivos, así como la participación de conferencistas internacionales, para culminar con la emocionante
                            presentación de proyectos diversos de alta tecnología aplicada...</h5>

                    </div>
                </div>
            </section>
        </article>
    </main>
    {% endblock %}
</body>

</html>