{% extends 'base.html' %} {% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/styles/mainMenu.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<title>Alumno</title>
{% endblock %} {% block content %}

<body>
    <aside>
        <!-- Aqui es donde estara el menu desplegable -->
    </aside>
    <main>
        <article class="container">
            <!-- Notificaciones -->
            <section class="mb-4">
                <div class="notas p-3 bg-warning rounded text-dark">
                    <h5>Parece que todo está despejado por aquí. Si tienes problemas con el sistema, puedes acudir al plantel a solucionarlo.</h5>
                    <h5>Si estás esperando respuesta de algún trámite, por favor, sé paciente.</h5>
                    <h5>Se informa a la comunidad estudiantil que está liberando residencia, acudir a recursos escolares.</h5>
                </div>
            </section>

            <section>
                <div>
                    <h1>Informacion del alumno</h1>
                    <h5 class="text-success ">{{user.first_name}} {{user.last_name}}
                        <br>{{user.username}}
                    </h5>
                </div>
            </section>

            <section class="informacion container">
                <div class="container text-center">
                    <div class="row align-items-start">
                        <!-- Imagen del Usuario -->
                        <div class="imagenUser col-3 text-center">
                            <img src="/static/Images/User.png" alt="Imagen del Usuario" class="img-fluid shadow">
                        </div>

                        <!-- Información Escolar -->
                        <div class="info-escolar col-4 bg-light rounded p-3 shadow">
                            <h2 class="titulo-escolar text-center text-primary mb-3">Información Escolar</h2>
                            <ul class="list-unstyled">
                                <li class="info"><strong>Carrera:</strong> {{ user.carrera }}</li>
                                <li class="info"><strong>Número de Control:</strong> 21212019</li>
                                <li class="info"><strong>Email:</strong> {{ user.email }}</li>
                                <li class="info"><strong>Periodo Actual:</strong> Semestre 5</li>
                                <li class="info"><strong>Promedio:</strong> 95</li>
                                <li class="info"><strong>Créditos Liberados:</strong> 50%</li>
                            </ul>
                        </div>

                        <!-- Información Personal -->
                        <div class="info-personal col-4 bg-light rounded p-3 shadow">
                            <h2 class="titulo-personal text-center text-primary mb-3">Información Personal</h2>
                            <ul class="list-unstyled">
                                <li class="info"><strong>Nombre:</strong> {{ user.first_name }} {{ user.last_name }}</li>
                                <li class="info"><strong>Fecha de Nacimiento:</strong> 12/08/2001</li>
                                <li class="info"><strong>Dirección:</strong> Tec Tomas Aquino</li>
                                <li class="info"><strong>Celular:</strong> 6634059937</li>
                                <li class="info"><strong>Email:</strong> kevinws201@gmail.com</li>
                                <li class="info"><strong>Tutor:</strong> Lionel Andrés Messi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </article>
    </main>

</body>
{% endblock %}