{% extends 'base.html' %} {% block head %}
<title>Restablecer Contraseña</title>
<!-- Incluye el CSS de Bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/styles/reset_password.css"> {% endblock %} {% block content %}

<body>
    <div class="container">
        <div class="form-container">
            <!-- Titulo -->
            <h2>Restablecer Contraseña</h2>
            <!-- Formulario para Restablecer contraseña  -->
            <form method="POST">
                <!-- Contraseña actual -->
                <div class="form-group">
                    <label for="old_password">Contraseña actual:</label>
                    <input type="password" id="old_password" name="old_password" class="form-control" required>
                </div>
                <!-- Nueva contraseña -->
                <div class="form-group">
                    <label for="new_password1">Nueva contraseña:</label>
                    <input type="password" id="new_password1" name="new_password1" class="form-control" required>
                </div>
                <!-- Confirmar contraseña -->
                <div class="form-group">
                    <label for="new_password2">Confirmar nueva contraseña:</label>
                    <input type="password" id="new_password2" name="new_password2" class="form-control" required>
                </div>
                <!-- Boton Actualizar contraseña -->
                <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
            </form>
        </div>
    </div>
    <!-- Incluye el JS de Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}